In [1]:
import requests
from bs4 import BeautifulSoup as bts
import pandas as pd
import re
import numpy as np
import time

In [2]:
def getAndParseURL(url):
    result = requests.get(url, headers={"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36"}) # Safari/537.36. Chrome/103.0.0.0
    soup = bts(result.text, "html.parser")
    return soup

In [10]:

pages = ["https://www.transfermarkt.com/spieler-statistik/wertvollstespieler/marktwertetop?land_id=0&ausrichtung=alle&spielerposition_id=alle&altersklasse=alle&jahrgang=0&kontinent_id=0&plus=1"]
for page in range(0,1,1):
    pages.append("https://www.transfermarkt.com/spieler-statistik/wertvollstespieler/marktwertetop?land_id=0&ausrichtung=alle&spielerposition_id=alle&altersklasse=alle&jahrgang=0&kontinent_id=0&plus=1"+str(page))
    
pages

['https://www.transfermarkt.com/spieler-statistik/wertvollstespieler/marktwertetop?land_id=0&ausrichtung=alle&spielerposition_id=alle&altersklasse=alle&jahrgang=0&kontinent_id=0&plus=1',
 'https://www.transfermarkt.com/spieler-statistik/wertvollstespieler/marktwertetop?land_id=0&ausrichtung=alle&spielerposition_id=alle&altersklasse=alle&jahrgang=0&kontinent_id=0&plus=10']

In [11]:
players = []
for page in pages:
    html = getAndParseURL(page)
     table = html.find("table", {"class": "items"})
    for row in table.find_all("tr")[1:]:
        cols = row.find_all("td")
        player = {"name": cols[1].get_text().strip()} # Oyuncunun adını al ve dictionary olarak tut
        for col in cols[2:]: # Oyuncunun adından sonraki tüm sütunları dolaş
            header = table.find_all("th")[cols.index(col)].get_text().strip() # Sütun başlığını al
            player[header] = col.get_text().strip() # Sütun değerini al ve oyuncu bilgilerine ekle
        players.append(player)
    time.sleep(1)

IndentationError: unexpected indent (2966994069.py, line 4)

In [5]:
players

[{'name': 'All\nGoalkeeper\nSweeper\nCentre-Back\nLeft-Back\nRight-Back\nFull-Back\nDefensive Midfield\nCentral Midfield\nRight Midfield\nLeft Midfield\nAttacking Midfield\nLeft Winger\nRight Winger\nWinger\nSecond Striker\nCentre-Forward'},
 {'name': 'All\nu17\nu18\nu19\nu20\nu21\nu23\n23-30\no30\no32\no34'},
 {'name': 'All\n2008\n2007\n2006\n2005\n2004\n2003\n2002\n2001\n2000\n1999\n1998\n1997\n1996\n1995\n1994\n1993\n1992\n1991\n1990\n1989\n1988\n1987\n1986\n1985\n1984\n1983\n1982\n1981\n1980\n1979\n1976\n1967'},
 {'name': "All\nAfghanistan\nAlbania\nAlgeria\nAmerican Samoa\nAmerican Virgin Islands\nAndorra\nAngola\nAnguilla\nAntigua and Barbuda\nArgentina\nArmenia\nAruba\nAustralia\nAustria\nAzerbaijan\nBahamas\nBahrain\nBangladesh\nBarbados\nBelarus\nBelgium\nBelize\nBenin\nBermuda\nBhutan\nBolivia\nBonaire\nBosnia-Herzegovina\nBotsuana\nBrazil\nBritish India\nBritish Virgin Islands\nBrunei Darussalam\nBulgaria\nBurkina Faso\nBurundi\nCambodia\nCameroon\nCanada\nCape Verde\nCayman Islands\nCentral African Republic\nChad\nChile\nChina\nChinese Taipei\nChristmas Island\nColombia\nComoros\nCongo\nCookinseln\nCosta Rica\nCote d'Ivoire\nCrimea\nCroatia\nCSSR\nCuba\nCuracao\nCyprus\nCzech Republic\nDenmark\nDjibouti\nDominica\nDominican Republic\nDR Congo\nEast Germany (GDR)\nEcuador\nEgypt\nEl Salvador\nEngland\nEquatorial Guinea\nEritrea\nEstonia\nEswatini\nEthiopia\nFalkland Islands\nFaroe Islands\nFederated States of Micronesia\nFiji\nFinland\nFrance\nFrench Guiana\nGabon\nGeorgia\nGermany\nGhana\nGibraltar\nGreece\nGreenland\nGrenada\nGuadeloupe\nGuam\nGuatemala\nGuernsey\nGuinea\nGuinea-Bissau\nGuyana\nHaiti\nHonduras\nHongkong\nHungary\nIceland\nIndia\nIndonesia\nIran\nIraq\nIreland\nIsle of Man\nIsrael\nItaly\nJamaica\nJapan\nJersey\nJordan\nJugoslawien (SFR)\nKazakhstan\nKenya\nKiribati\nKorea, North\nKorea, South\nKosovo\nKuwait\nKyrgyzstan\nLaos\nLatvia\nLebanon\nLesotho\nLiberia\nLibya\nLiechtenstein\nLithuania\nLuxembourg\nMacao\nMacedonia\nMadagascar\nMalawi\nMalaysia\nMaldives\nMali\nMalta\nMarshall Islands\nMartinique\nMauritania\nMauritius\nMayotte\nMexico\nMoldova\nMonaco\nMongolia\nMontenegro\nMontserrat\nMorocco\nMozambique\nMyanmar\nNamibia\nNauru\nNepal\nNetherlands\nNetherlands Antilles\nNetherlands East India\nNeukaledonien\nNew Zealand\nNicaragua\nNiger\nNigeria\nNiue\nNorth Macedonia\nNorthern Ireland\nNorthern Mariana Islands\nNorway\nOman\nPakistan\nPalau\nPalestine\nPanama\nPapua New Guinea\nParaguay\nPeople's republic of the Congo\nPeru\nPhilippines\nPoland\nPortugal\nPuerto Rico\nQatar\nRéunion\nRomania\nRussia\nRwanda\nSaarland\nSaint-Martin\nSamoa\nSan Marino\nSao Tome and Principe\nSaudi Arabia\nScotland\nSenegal\nSerbia\nSerbia and Montenegro\nSeychelles\nSierra Leone\nSingapore\nSint Maarten\nSlovakia\nSlovenia\nSolomon Islands\nSomalia\nSouth Africa\nSouthern Sudan\nSpain\nSri Lanka\nSt. Kitts & Nevis\nSt. Lucia\nSt. Vincent & Grenadinen\nSudan\nSuriname\nSwaziland\nSweden\nSwitzerland\nSyria\nTahiti\nTajikistan\nTanzania\nThailand\nThe Gambia\nTibet\nTimor-Leste\nTogo\nTonga\nTrinidad and Tobago\nTunisia\nTürkiye\nTurkmenistan\nTurks- and Caicosinseln\nTuvalu\nUdSSR\nUganda\nUkraine\nUnited Arab Emirates\nUnited Kingdom\nUnited States\nUruguay\nUzbekistan\nVanuatu\nVatican\nVenezuela\nVietnam\nWales\nWestern Sahara\nYemen\nYugoslavia (Republic)\nZaire\nZambia\nZanzibar\nZimbabwe"},
 {'name': 'Worldwide\nAFC\nCAF\nCONCACAF\nCONMEBOL\nOFC\nUEFA'},
 {'name': ''},
 {'name': 'All\nGoalkeeper\nSweeper\nCentre-Back\nLeft-Back\nRight-Back\nFull-Back\nDefensive Midfield\nCentral Midfield\nRight Midfield\nLeft Midfield\nAttacking Midfield\nLeft Winger\nRight Winger\nWinger\nSecond Striker\nCentre-Forward'},
 {'name': 'All\nu17\nu18\nu19\nu20\nu21\nu23\n23-30\no30\no32\no34'},
 {'name': 'All\n2008\n2007\n2006\n2005\n2004\n2003\n2002\n2001\n2000\n1999\n1998\n1997\n1996\n1995\n1994\n1993\n1992\n1991\n1990\n1989\n1988\n1987\n1986\n1985\n1984\n1983\n1982\n1981\n1980\n1979\n1976\n1967'},
 {'name': "All\nAfghanistan\nAlbania\nAlgeria\nAmerican Samoa\nAmerican Virgin Islands\nAndorra\nAngola\nAnguilla\nAntigua and Barbuda\nArgentina\nArmenia\nAruba\nAustralia\nAustria\nAzerbaijan\nBahamas\nBahrain\nBangladesh\nBarbados\nBelarus\nBelgium\nBelize\nBenin\nBermuda\nBhutan\nBolivia\nBonaire\nBosnia-Herzegovina\nBotsuana\nBrazil\nBritish India\nBritish Virgin Islands\nBrunei Darussalam\nBulgaria\nBurkina Faso\nBurundi\nCambodia\nCameroon\nCanada\nCape Verde\nCayman Islands\nCentral African Republic\nChad\nChile\nChina\nChinese Taipei\nChristmas Island\nColombia\nComoros\nCongo\nCookinseln\nCosta Rica\nCote d'Ivoire\nCrimea\nCroatia\nCSSR\nCuba\nCuracao\nCyprus\nCzech Republic\nDenmark\nDjibouti\nDominica\nDominican Republic\nDR Congo\nEast Germany (GDR)\nEcuador\nEgypt\nEl Salvador\nEngland\nEquatorial Guinea\nEritrea\nEstonia\nEswatini\nEthiopia\nFalkland Islands\nFaroe Islands\nFederated States of Micronesia\nFiji\nFinland\nFrance\nFrench Guiana\nGabon\nGeorgia\nGermany\nGhana\nGibraltar\nGreece\nGreenland\nGrenada\nGuadeloupe\nGuam\nGuatemala\nGuernsey\nGuinea\nGuinea-Bissau\nGuyana\nHaiti\nHonduras\nHongkong\nHungary\nIceland\nIndia\nIndonesia\nIran\nIraq\nIreland\nIsle of Man\nIsrael\nItaly\nJamaica\nJapan\nJersey\nJordan\nJugoslawien (SFR)\nKazakhstan\nKenya\nKiribati\nKorea, North\nKorea, South\nKosovo\nKuwait\nKyrgyzstan\nLaos\nLatvia\nLebanon\nLesotho\nLiberia\nLibya\nLiechtenstein\nLithuania\nLuxembourg\nMacao\nMacedonia\nMadagascar\nMalawi\nMalaysia\nMaldives\nMali\nMalta\nMarshall Islands\nMartinique\nMauritania\nMauritius\nMayotte\nMexico\nMoldova\nMonaco\nMongolia\nMontenegro\nMontserrat\nMorocco\nMozambique\nMyanmar\nNamibia\nNauru\nNepal\nNetherlands\nNetherlands Antilles\nNetherlands East India\nNeukaledonien\nNew Zealand\nNicaragua\nNiger\nNigeria\nNiue\nNorth Macedonia\nNorthern Ireland\nNorthern Mariana Islands\nNorway\nOman\nPakistan\nPalau\nPalestine\nPanama\nPapua New Guinea\nParaguay\nPeople's republic of the Congo\nPeru\nPhilippines\nPoland\nPortugal\nPuerto Rico\nQatar\nRéunion\nRomania\nRussia\nRwanda\nSaarland\nSaint-Martin\nSamoa\nSan Marino\nSao Tome and Principe\nSaudi Arabia\nScotland\nSenegal\nSerbia\nSerbia and Montenegro\nSeychelles\nSierra Leone\nSingapore\nSint Maarten\nSlovakia\nSlovenia\nSolomon Islands\nSomalia\nSouth Africa\nSouthern Sudan\nSpain\nSri Lanka\nSt. Kitts & Nevis\nSt. Lucia\nSt. Vincent & Grenadinen\nSudan\nSuriname\nSwaziland\nSweden\nSwitzerland\nSyria\nTahiti\nTajikistan\nTanzania\nThailand\nThe Gambia\nTibet\nTimor-Leste\nTogo\nTonga\nTrinidad and Tobago\nTunisia\nTürkiye\nTurkmenistan\nTurks- and Caicosinseln\nTuvalu\nUdSSR\nUganda\nUkraine\nUnited Arab Emirates\nUnited Kingdom\nUnited States\nUruguay\nUzbekistan\nVanuatu\nVatican\nVenezuela\nVietnam\nWales\nWestern Sahara\nYemen\nYugoslavia (Republic)\nZaire\nZambia\nZanzibar\nZimbabwe"},
 {'name': 'Worldwide\nAFC\nCAF\nCONCACAF\nCONMEBOL\nOFC\nUEFA'},
 {'name': ''}]

In [6]:
df = pd.DataFrame(players)

In [7]:

df['Value']

KeyError: 'Value'

In [19]:
df.to_csv('players_new.csv', index=False)

In [8]:
df.head()

                                                name
0  All\nGoalkeeper\nSweeper\nCentre-Back\nLeft-Ba...
1  All\nu17\nu18\nu19\nu20\nu21\nu23\n23-30\no30\...
2  All\n2008\n2007\n2006\n2005\n2004\n2003\n2002\...
3  All\nAfghanistan\nAlbania\nAlgeria\nAmerican S...
4  Worldwide\nAFC\nCAF\nCONCACAF\nCONMEBOL\nOFC\n...